<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://kit.fontawesome.com/140ac781e8.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar sticky-top navbar-dark mb-5 shadow-lg" style="background-color:#d4d4d4">
    <div class="row d-flex pl-3">
        <a class="navbar-brand" href="/">SwoleMates</a>
    </div>
    <div class="float-right">
        <div class="row font-weight-light">
            <a href="/profile" class="text-dark pt-1">Home</a>
            <a href="/gymChat" class="text-dark pt-1 px-3">Gym Chat</a>
            <a href="/gymEvents" class=" text-dark pt-1 pr-3">Gym Events</a>
            <div class="dropdown pr-3">
                <button class="btn btn-secondary dropdown-toggle font-weight-lighter py-1" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <%=user.name%>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button"><a href="/edit" class="text-dark">Edit Profile</a></button>
                    <hr>
                    <button class="dropdown-item" type="button"><a href="/logout" class="text-dark">Log Out</a></button>
                </div>
            </div>
        </div>
    </div>

</nav>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-2">
            <h5 >Add Post</h5>
        </div>
        <div class="col-8">
            <form  action="/addGymPost" method="post" >
                <input class="form-control mb-2" type='text' name="title" placeholder="Title">
                <textarea class="form-control mb-2" name="post" placeholder="Post" ></textarea>
        </div>
        <div class="col-2">
            <input class="form-control" type="submit" >
            </form>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="section col-7">
                <h5 class="text-center">Posts</h5>
            <% for (let k = 0; k < posts.length ; k++) { %>
                <a class="text-dark" href="gymPost/<%= posts[k].id %>">
                    <div class="card p-3 my-2 overflow-hidden" style="height:12em;">
                                <div class="row">
                                    <div class="col-8 ">
                                        <% for (let j = 0; j < people.length; j++) { %>
                                        <%if(posts[k].userId == people[j].id) {%>
                                        <h5><%=posts[k].title%></h5>
                                        <p>Post By: <%= people[j].name %></p>
                                        <p style="font-size:70%"><%= posts[k].post %></p>
                                    </div>
                                    <div class="col-4">
                                        <div class="mx-4" style="background-image: url(<%=people[j].imgUrl%>); background-position:center; background-size: cover; border-radius: 50%; height:6em;"></div>
                                        <div>
                                            <p style="font-size:70%">Posted on: </p>
                                        </div>
                                    </div>
                                </div>

                        <% if (people[j].id == user.id || user.isAdmin == 1) {%>
                            <div class="row">
<!--                                <a href="/delete/posts[k].id" class="text-dark px-3"><i class="far fa-edit"></i></a>-->
                                <form action="/delete/<%=posts[k].id%>" class="text-dark px-3" method="post"> <button class="btn btn-transparent" type="submit"><i class="far fa-trash-alt"></i> </button></form>
                            </div>
                        <%}%>
                        <%}%>
                        <%}%>
                    </div>
                </a>
            <%}%>
            </div>
        </div>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>