<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://kit.fontawesome.com/140ac781e8.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body class="bg-light">
        <nav class="navbar sticky-top navbar-light mb-4 shadow" style="background-color:#d4d4d4">
            <div class="row d-flex pl-3">
                <a class="navbar-brand" href="/">SwoleMates</a>
            </div>
            <div class="float-right">
                <div class="row font-weight-light">
                    <a href="/profile" class="text-dark pt-1">Home</a>
                    <a href="/gymChat" class="text-dark pt-1 px-3">Gym Chat</a>
                    <a href="/gymEvents" class=" text-dark pt-1 pr-3">Gym Events</a>
                    <div class="dropdown pr-3">
                        <button class="btn btn-secondary dropdown-toggle font-weight-lighter py-1" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <%=user.name%>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button"><a href="/userProfile/<%=user.id%>" class="text-dark">View Profile</a></button>
                            <button class="dropdown-item" type="button"><a href="/edit" class="text-dark">Edit Profile</a></button>
                            <hr>
                            <button class="dropdown-item" type="button"><a href="/logout" class="text-dark">Log Out</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>


        <div class ="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="pt-4">
                    <% if (user.isAdmin == 1) {%>
                        <h5 class="text-center">Add Event</h5>
                        <form action="/addGymEvent" method="post">
                            <input class="form-control mb-2" type='text' name="title" placeholder="Title">
                            <textarea class="form-control mb-2" name="eventInfo" placeholder="Event Info"></textarea>
                            <input class="form-control mb-2" type='date' name="date" placeholder="Date">
                            <input class="form-control mb-2" type='number' name="intensity" placeholder="intensity">
                            <input class="form-control" type="submit">
                        </form>
                    <%}%>
                </div>
            </div>


            <div class="row d-flex justify-content-center">
                <div class="col-8">
                    <h5 class="text-center">Events</h5>
                        <% for (let i = 0; i < events.length && i < 2; i++) { %>
                            <a href="gymEvent/<%= events[i].id %>">
                                <div class="card p-3 my-2 text-dark overflow-hidden" style="height:10em;">
                                    <div class="row px-5">
                                        <div class="col-8">
                                            <h5><%=events[i].title%></h5>
                                            <p style="font-size:70%"><%= events[i].eventInfo %></p>
                                        </div>
                                        <div class="col-4" style="font-size: 70%">
                                            <p> date: <%= moment(events[i].date).format('MMMM Do')%></p>
                                            <p>intensity: <%= events[i].intensity%> / 10</p>
                                        </div>
                                    </div>
                                    <% if ( user.isAdmin == 1) {%>
                                        <div class="row">
                                            <form action="/deleteEvent/<%=events[i].id%>" class="text-dark px-3" method="post">
                                                <button class="btn btn-transparent" type="submit">
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                            </form>
                                        </div>
                                    <%}%>
                                </div>
                            </a>
                        <%}%>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

</html>