<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://kit.fontawesome.com/140ac781e8.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-light">
<nav class="navbar sticky-top navbar-light mb-4 shadow" style="background-color:#d4d4d4">
    <div class="row d-flex pl-3">
        <a class="navbar-brand" href="/">SwoleMates</a>
    </div>
    <div class="float-right">
        <div class="row font-weight-light">
            <a href="/profile" class="text-dark pt-1">Home</a>
            <a href="/gymChat" class="text-dark pt-1 px-3">Gym Chat</a>
            <a href="/gymEvents" class=" text-dark pt-1 pr-3">Gym Events</a>
            <div class="dropdown pr-3">
                <button class="btn btn-secondary dropdown-toggle font-weight-lighter py-1" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <%=user.name%>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button"><a href="/userProfile/<%=user.id%>" class="text-dark">View Profile</a></button>
                    <button class="dropdown-item" type="button"><a href="/edit" class="text-dark">Edit Profile</a></button>
                    <hr>
                    <button class="dropdown-item" type="button"><a href="/logout" class="text-dark">Log Out</a></button>
                </div>
            </div>
        </div>
    </div>

</nav>
<div class="container">

    <a href="/gymEvents" ><button class="btn btn-secondary mb-3">All Events</button></a>
    <div class="text-center">
        <h5 ><%= events.title %></h5>
        <p><%=events.eventInfo%></p>
        <p>Date: <%= moment(events.date).format('MMMM Do')%></p>
        <p>Intensity: <%= events.intensity%> / 10</p>
    </div>
<div class="row d-flex justify-content-center">
    <div class="col-9">
        <form action="/addGymComment/<%= events.id %>" method="post">
            <textarea class="form-control mb-2" name="comment" placeholder="Comment"></textarea>
            <input class="form-control" type="submit">
        </form>
        <% for (let i = 0; i < comments.length; i++) { %>
            <% for (let j = 0; j < people.length; j++) { %>
            <%if(comments[i].userId == people[j].id) {%>
            <div class="card p-3 my-2 shadow-sm" style="height:10em;">
                <div class="row">
                    <div class="col-3">
                        <div class="mx-4 my-3" style="background-image: url(<%=people[j].imgUrl%>); background-position:center; background-size: cover; border-radius: 50%; height:4em; width:4em;"></div>
                    </div>
                    <div class="col-9">

                        <p><%= people[j].name %></p>
                        <p><%= comments[i].comment %></p>
                    </div>
                </div>
                <div class="row">
                    <a href="/userProfile/<%= people[j].id%>" class="text-dark"><button class="btn btn-transparent"><i class="far fa-user"></i></button></a>
                    <% if (people[j].id == user.id || user.isAdmin == 1) {%>
                    <form action="/delete/<%=comments[i].id%>" class="text-dark" method="post"> <button class="btn btn-transparent" type="submit"><i class="far fa-trash-alt"></i> </button></form>
                    <%}%>
                </div>
                <%}%>
                <%}%>
            </div>
        <%}%>
    </div>
</div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
